@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

a, a:active {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(17, 191, 191);
}

html, body {
  font-family: 'Roboto', sans-serif;

  /* Image by https://unsplash.com/photos/XlRqfmEjO0E */
  background: url('../img/background.png') fixed center no-repeat #30334b;
  background-size: cover;
}

/* page container */
.page-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* cotent container */
.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  margin: 5% 0;
  padding: 5%;

  background-color: #fff;
  border-radius: 10px;
}

.news {
  display: block;
  margin-bottom: 25px;
}

.news p {
  text-align: left;
  margin: 20px 0;
  padding: 0;
}

.news p a {
  color: #000000;
}

.logo {
  width: 120px
}

/* Introduction text style */
p {
  margin: 25px 25px;
  margin-top: 0;

  font-weight: 300;
  font-size: 14px;
  text-align: center;

  color: #646464;
}

/* CTA button style */
button {
  margin-bottom: 20px;
  padding: 15px 80px;
  text-transform: uppercase;

  outline: none;
  color: #fff;
  background-color: #15B5B5;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}
/* Hover effect for the button */
button:hover {
  cursor: pointer;
  background-color: rgb(17, 191, 191);
  box-shadow: 0px 2px 1px #cacaca;
}

.repositories-links {
  width: 90%;
  text-align: center;
}

.repositories-links h4{
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
}

hr {
  border-color: #f3f3f333;
}

.repositories-url {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 340px) {
  .repositories-url {
    flex-direction: column;
  }
}

.repositories-url a{
  font-size: 12px;
  font-weight: 300;
  transition: all 0.5s;
}

.repositories-url a:hover {
  color: rgb(17, 191, 191);
}

.repositories-url li {
  list-style: none;
}

/* Social network */
.social {
  margin-top: 50px;
}

.social
img{
  width: 25px;
}

.social
img:hover{
  cursor: pointer;
}

/*
// =================================
//   FAQ PAGE
// =================================
*/

.faq-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq-header .logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.faq-header .logo-wrap h1{
  margin-left: 15px;
}

.faq-header .logo-wrap img {
  width: 35px
}


.faq-content {
  display: flex;
  width: 100%;
}

.faq-content  ul{
  margin-left: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
}

div.faq-content > ul > li{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px
}

.faq-content  ul li p{
  margin: 0;
  margin-left: 10px;
  text-align: justify;
}

.faq-content  ul li p{
  margin: 5px 0px;
}

.faq-content  h2{
  font-size:  18px
}

.faq-content h2 > a, ul > li > p > a, a {
  color: #000;
}

div.faq-content ul li ul li {
  list-style-type: square;
  margin-left: 30px;
}
/*
// =================================
//   General content
// =================================
*/

.content h3 {
  margin: 10px;
}

.content h4 {
  margin: 20px;
}

.content{
  width: 100%;
}

.content p{
  text-align: justify;
}

.content  ul{
  margin-left: 30px;
  width: 100%;
  padding: 0;
}

div.content > ul > li{
  font-size: 14px;
  font-weight: 300;
  margin: 1em 0 1em 0;
  color: #646464;
/*  list-style: none; */
}

div.content > ol > li {
  font-size: 14px;
  font-weight: 300;
  margin: 1em 0 1em 0;
  color: #646464;
}

div.bash {
  background-color: #000;
  color: #ccc;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  margin: 1em 0 1em 0;
}
